.header-wraper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-row1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: auto;
    margin-top: 0px;
    height: 68px;
    padding-top: 5px;

}
.header-wraper {
    display: flex;
    
}
.header-row2 {
 
    width: 100%;
    padding: 0 10px;
    height: 38px;
}
.header-row3 {
    width: 100%;
    display: flex;
    align-items: center;
   
}
.logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.logo img {
    width: 210px;
    height: 40px;
    object-fit: cover;
    margin-left: -30px;

}
.cart-icon-container button {
  font-size: 2.4rem;
  color: var(--bg-color);
  background: none;
  border: none;
 
}
.cart-icon-container {
 margin-right: 20px;
}
.some-text1 {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.some-text1 p {
    color: white;
}
.some-text1 p:nth-child(1) {
    font-weight: 400;
    font-size: .9rem;
}
.some-text1 p:nth-child(2) {
    font-weight: bold;
    font-size: .9rem;
}
.some-text1 i {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 4px;
}
.search-container .search-wraper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.search-container {
    width: 100%;
}
.search-container .search-wraper input {
    width: 100%;
    
    
}
.search-container .search-wraper input,.search-container .search-wraper select, .search-container .search-wraper button {
    padding: 13px;
    border: none;

}
.search-container .search-wraper button {
    background: rgb(194, 9, 200);
    color: var(--bg-color);
    font-size: 1rem;
    height: 100%;
    padding: 11.6px 13px;
}
.search-container .search-wraper select {
    font-weight: bold;
}
.account-log-con {
    display: flex;
    align-items: center;
    margin: 16px;
    flex-direction: column;
}
.account-log-con p {
    width: 100%;
    font-size: .9rem;
    display: flex;
    align-items: center;
    width: 100px;
    flex-direction: column;

}
.search-container-mobile {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 100% ;
}
.search-container-mobile input{
    width: 100% ;
    background: var(--bg-color);
}
.search-container-mobile button{
    background: rgb(183, 0, 183);
    color: var(--bg-color);
}
.search-container-mobile input , .search-container-mobile button {
    padding: 13px 13px;
    border: none;
    
}

.search-wraper {
    display: flex;
}
.header-row2{
    display: none;
    margin-top: 10px;
}
.header-row2 {

}
#ToggleSidebar {
    margin-left: 20px;

    border: none;
    background: rgba(0, 140, 255, 0);
    color: var(--bg-color);
    font-size: 1.3rem;
}
.logo a i {
    display: none;
    font-size: 2.3rem;
    color: white;
    margin-left: 10px;
    margin-bottom: 7px;
}
.logo a {
    text-decoration: none;
}
.returnPolicy {
    color: white;
}
.account-log-con {
    color: white;
}
#ToggleSidebar {
    display: none;
}
.returnPolicy {
    font-size: .9rem;
    width: 200px !important;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.returnPolicy p {
    display: flex;
    align-items: center;
}
.cart-icon-container img {
    
}
.header-row3 {
    padding: 10px;
    width: 100%;
}
.suggest-btns {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;   
    margin-left: 20px;
   scrollbar-width: none;
}
.suggest-btns-wraper {
    display: flex;

}
.suggest-btns-wraper button {
    border: none;
    white-space: nowrap;
    padding: 8px 10px;
    background: transparent;
    color: var(--bg-color);
    cursor: pointer;
    transition: .3s;
}
.suggest-btns-wraper button:hover {
    background: rgba(255, 255, 255, 0.132);
}
.header-row3 {
    display: flex;
    align-items: center;
     margin-top: 6px;
}
#ToggleMenu {
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.098);
    border-radius: 3px;
    color: var(--bg-color);
    border: none;
    transition: .3s;
    cursor: pointer;
}
#ToggleMenu:hover {
    background: rgba(255, 255, 255, 0.157);
}
.signIn {
    display: flex;
    align-items: center;
    width: 80px;
    margin-right: 10px;
    color: var(--bg-color);
    text-decoration: none;
    font-size: .8rem;
    display: none;
}
.signIn i {
    font-size: 1.4rem;
}
.cart-Show-data {
    display: flex;
    align-items: center;
}
.cart-icon-container button i {
    font-size: 2rem;
}
.cart-icon-container button {
    position: relative;
}
.cart-icon-container button #cartShowCount {
    font-size: 1rem;
    background: rgb(2, 74, 6);
    position: absolute;
    top: -5px;
    left: 0;
    padding: 3px;
}
.header-row4 {
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgb(0, 121, 46);
    display: none;
}
.header-row4 button {
    width: 100%;
    background: none;
    border: none;
    color: var(--bg-color);
     padding: 5px 0;
}