:root {
    --header-height: 105px;
    --bg-color: rgb(255, 255, 255);
    --header-color-light: rgb(0, 98, 41);
}
:root[data-theme="light"] {

}
:root[data-theme="light"] {

}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
}
body {
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebarDesk main"
    "footer footer";
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arial', sans-serif;
    transition: .4s;
}
body.sidebarClose {
    grid-template-columns: 0px 1fr;
}
.header {
    grid-area: header;
    background: linear-gradient(60deg, rgb(0, 108, 50), var(--header-color-light), rgb(2, 74, 6) );

}
.sidebar {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 84%;
    box-shadow: 10px 3px 100px rgba(3, 3, 3, 0.101);
    z-index: 9999;
}
.main {
    grid-area: main;
    background: var(--bg-color);
    overflow: auto;
}
.footer {
    grid-area: footer;
    background: black;
}
#overlyMobile {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.772);
    z-index: 9999;
}
