:root {
    --header-height: 105px;
    --bg-color: white;
    --header-color-light: rgb(0, 98, 41);
}
:root[data-theme="light"] {

}
:root[data-theme="light"] {

}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arial', sans-serif;
}
.header {
    grid-area: header;
    background-color: var(--header-color-light);

}
.sidebar {
    grid-area: sidebar;
    background: red;
}
.main {
    grid-area: main;
    background: blue;
}
.footer {
    grid-area: footer;
    background: black;
}

