@media (max-width: 450px) {
#products {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
    gap: 10px;
}
.product-image img {
    height: 17vh !important;
}
#UpDownHeader {
    margin-right: 5px;

}
}
@media (max-width: 768px) {
  .search-wraper {
    display: none !important;
}
.header-row2 {
    display: block;
}
#products {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
    gap: 10px !important;
}

}
@media (max-width: 1024px) {
    
}
@media (max-width: 500px) {
    .some-text1 {
        display: none;
    }
    .account-log-con {
        display: none;
    }
    .returnPolicy {
        display: none;
    }
    .cart-icon-container img {
        width: 35px
    }
    .cart-icon-container {
        margin-right: 20px;
    }
    .logo img {
        width: 160px;
    }
    .logo a i {
        display: block;
    }
    .logo a img {
        display: none;
    }
    #ToggleSidebar {
        display: block;
        margin-bottom: 10px;
    }
    .logo a img {
         
    }
    .logo a i {
        font-size: 2rem;
    }
    .cart-icon-container button {
        font-size: 2rem;
    }
    #ToggleMenu {
        display: none;
    }
    .suggest-btns {
        margin: 0;
    }
    .signIn {
        display: flex;
    }
    .header-row1 {
        height: 50px;
    }
    .suggest-btns-wraper button {
        padding: 3px 10px;
    }
    .header-row4 {
        display: flex;
    }
    
   #sidebar.open {
    width: 85%;
}
.logo {
    margin: 0;
    margin-top: 9px;
    margin-left: -15px;
}
#overlyMobile.active {
    left: 0;
    right: 0;
}
body {
        grid-template-columns: 0px 1fr;
    }
    .header-wraper {
    height: 200px;
}
.header-wraper.smallHeight {
     height: 156px;
}
.header-wraper.close{
    height: 60px;
}
}
