.sidebar-wraper {
    position: relative;
}
#CloseSidebar {
    position: absolute;
    right: -14%;
    top: 30px;
    font-size: 1.6rem;
    background: none;
    border: none;
    color: var(--bg-color);
}
#sidebar {
    width: 0;
    transition: width .3s;
}
#sidebar.open {
    width: 85%;
}
#sidebarDesk {
    grid-area: sidebarDesk;
    background: var(--bg-color);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.102);
}
.sidebar-Desk {
    position: relative;
}
#sidebarDeskClose {
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    color: black;
    border: none;
    font-size: 1.2rem;
    padding: 6px 10px;
    transition: background .4s;
    cursor: pointer;
}
#sidebarDeskClose:hover {
    background: rgba(0, 0, 0, 0.042);
}
.sidebarDesk-wraper {

}
#sidebarDesk {
    
}